# 6.0 Boolean Series & Indexing

Exercise1:
1. create a variable 'url' using a) the link 'https://raw.githubusercontent.com/avenumadhav/Pandas-for-ML/main/Datasets/' and b) add a string with file name 'wt_ht.csv'
2. Use read_csv to read 'url' variable and assign it to 'hw'
3. Find out total number of rows of the dataframe hw using .shape property
3. Create a dataframe using condition that includes '==' which has all the data pertaining to 'Male'
5. Find out total number of rows of this new dataframe

---

Exercise2: Using 'hw' obtained above, create a Boolean series with condition weight < 100 and findout how many unique values does this Boolean series have

---

Exercise3: Use 'hw' obtained above, create a dataframe with height less than 75 and weight greater thn 225


---

Exercise4: Using ~ operator create a dataframe of the data pertaining to 'Female'

---

Exercise5: Using 'hw' obtained in 'Exercise 1' obtain a dataframe of all the females whose height is greater 50 and weight less than 100. Also, findout how many such individuals are present

---

Exercise6: Use .between(  ) method on height for values in range 75 and 100 and obtain a new dataframe based on it.

---

Exercise7: Use .loc and apply it on 'hw' dataframe with condition that height values are in range 75 to 100 and showing only 'Gender' column
- Expected Output:

![df3.png]()

---

Exercise8: Using 'hw' from 'Exercise 1' check column to column comparision of height > weight and how many such individuals are present

---

Exercise9: Using .isna(  ) and sum(  ) methods findout how many missing values are present in the dataframe 'hw'

---

Exercise10:
1. create a variable 'url2' using a) the link 'https://raw.githubusercontent.com/avenumadhav/Pandas-for-ML/main/Datasets/' and b) add a string with file name 'winequalityN.csv'
2. Use read_csv to read 'url2' variable and assign it to 'wd'
3. Find out total number of rows of the dataframe wd using .shape property
3. Find the number of missing values for each column

---